{{!-- About me section --}}
    <section class="aboutMe">
      <div class="container">
      <div class="row mt-4">
              <div class="col-12">
                <h2 class="fs-1 f2-bold mb-3 text-center title">Introduction myself</h2>
              </div>
      </div>
      <div class="row mt-3 g-4 justify-content-center">
        <div class="col-12 col-lg-4 ">
            <img id="profileImg"src="/images/Profesional_Picture.jpg" alt="Picture" class="card-img-top">
        </div>
        <div class="col-12 col-lg-4 aboutMeText">
            <p > My name is <span class="nameSpan"></span>Rodrigo Lopez</span>, and I am a holder of a <span class="nameSpan">Master's degree in Business Administration</span>. Presently, I am engaged in pursuing studies in <span class="nameSpan">computer programming</span> at Georgian College in Barrie. My academic journey is driven by a strong commitment to enhancing processes, optimizing workflows, and nurturing a culture of continuous improvement. I am acknowledging the indispensable role of programming proficiency in contemporary business landscapes, especially in contribuing to the development of innovative software solutions, websites, and data analysis tools.</p>
        </div>
    </div>
    
  </section>
{{!-- Second row Skills--}}
    <section class="skills">
          <div class="row mt-4">
              <div class="col-12">
                <h2 class="fs-1 f2-bold mb-3 text-center title">Technical Skills</h2>
              </div>
          </div>
            <div class="row m-3 py-5 justify-content-center">
                <div class="col-12 col-lg-6 d-flex justify-content-center">
                   <i class="fa-brands fa-java fa-beat fa-2xl p-2" style="color: #368f0d;"></i>
                   <i class="fa-brands fa-python fa-beat fa-2xl p-2" style="color: #368f0d;"></i>
                   <i class="fa-solid fa-database fa-beat fa-2xl p-2" style="color: #368f0d;"></i>
                   <i class="fa-brands fa-html5 fa-beat fa-2xl p-2" style="color: #368f0d;"></i>
                   <i class="fa-brands fa-css3 fa-beat fa-2xl p-2" style="color: #368f0d;"></i>                   
                   <i class="fa-brands fa-js fa-beat fa-2xl p-2" style="color: #368f0d;"></i>
                   <i class="fa-brands fa-microsoft fa-beat fa-2xl p-2" style="color: #368f0d;"></i>                   
                   <i class="fa-solid fa-c fa-beat fa-2xl p-2" style="color: #368f0d;"></i>
                   <i class="fa-brands fa-bootstrap fa-beat fa-2xl p-2" style="color: #368f0d;"></i>
                </div>
              </div>           
          </div>
          </div>
    </section>
{{!-- Job Experience --}}

<section class="aboutMe">
      <div class="container">
      <div class="row mt-4 p-3 d-flex justify-content-center">
              <div class="col-12 p-5 border-bottom">
                <h2 class="fs-1 f2-bold mb-3 text-center title">Work Experience</h2>
              </div>
      </div>
      {{!-- Current position --}}
      <div class="row mt-3 justify-content-center">
        <div class="col-12 col-lg-4 text-center">
            <img id="workImg"src="/images/gi-logo.png" alt="Picture" class="card-img-top">
        </div>
        <div class="col-12 col-lg-4 p-4 text-center">
            <h3 class="JobTitle">Junior Developer</h3>
            <h4>Part-time</h4>
            <h5>December 2024 - Present</h5>
        </div>
    </div>
      <div class="col-12 p-5 m-3 justify-content-center border-bottom">
          <p class="mb-3 text-center workText">Enhance the user experience of the Great Ideaz Trellis Park application platforms by refining the interface with advanced CSS techniques, and incorporating XML and XSL language to improve documentation reports. Working with database, updating and maintaining stored procedures on each application.</p>
      </div>    
      </div>
      {{!-- Second Experience --}}
      <div class="container mt-4">
      <div class="row mt-3 p-3 justify-content-center">
        <div class="col-12 col-lg-4 p-4 text-center">
            <h3 class="JobTitle">Business Banking Risk analyst</h3>
            <h4>Full Time</h4>
            <h5>March 2021 - February 2023</h5>
        </div>
        <div class="col-12 col-lg-4 text-center">
            <img id="workImg"src="/images/Scotiabank.png" alt="Picture" class="card-img-top">
        </div>
        
    </div>
      <div class="col-12 p-5 m-3 justify-content-center border-bottom">
          <p class="mb-3 text-center workText">Analyze financial information of companies and make informed decisions, approving or rejecting credit requests such as bank accounts, leasing, factoring, mortgages and commercial credits. Data-driven decision-making making understanding the business field, cash flow, annual revenues, heritage and company projections.</p>
      </div> 
      </div>
  </section>
