{{!-- Index Content --}}
<section class="header-content">
          <div class="container py-5 justify-content-center">
            <div class="row align-items-center py-5 justify-content-center">
              <div class="col-12 col-lg-6">
                <h1 class="display-4 fw-bold"><span id="name">R</span>odrigo <span id="name">L</span>opez </h1>
                <h4 class="display-6 title">Computer Programmer Student</h4>
                <p class="lead pb-3" id="typing-text">                 
                </p>                               
              </div>
              <div class="col-12 col-lg-6">
                  <img src="images/Logo01.png" alt="Georgian" class="img-fluid">
                 <div class="d-flex justify-content-center">
                  <p class="m-0 me-3"><a href="https://www.instagram.com/just_rod_life"><ion-icon id="IconStyle" class="icons4" name="logo-instagram" ></ion-icon></a></p>
                  <p class="m-0 me-3"><a href="https://www.linkedin.com/in/rodrigolopezl"><ion-icon id="IconStyle" class="icons4" name="logo-linkedin"></ion-icon></a></p>
                  <p class="m-0 me-3"><a href="https://github.com/rlopezlara"><ion-icon class="icons4" name="logo-github" ></ion-icon></a></p>
                </div>                 
              </div>
            </div>
          </div>
          <div>            
        </section>     
        
          