{{!-- Projects Content --}} 
         <section class="projectsContent">
            <div class="container py-5">
              <div class="row mt-4">
                <div class="col-12">
                  <h2 class="fs-1 f2-bold mb-5 text-center title">Projects</h2> 
                </div>
              </div>
            <div class="row mt-4 g-4 justify-content-center align-items-center">
                <!-- Column 01 -->
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
                <div class="card hoverEffect2" style="width: 18rem; height: 450px;">
                <img src="/images/img4.jpg" class="card-img-top" alt="p01" style="height: 191px;">
                <div class="card-body">
                  <h5 class="card-title">JS Project </h5>
                  <p class="card-text">Working in JS using Spotify API, look for the top 10 albums by artist name. Styling using bootstrap.</p>
                  
                  <div class="d-flex justify-content-center">
                  <a href="https://github.com/rlopezlara/JS_Project_Spotify_API" target="_blank" class="OpenBtn"><span class="btn-content"> Watch it on GitHub </span><i class="fa-solid fa-arrow-right"></i></button></a>
                  </div>
                  <div class="d-flex mt-3 justify-content-center">
                  <a href="https://rlopezlara.github.io/JS_Project_Spotify_API/" target="_blank" class="OpenBtn"><span class="btn-content"><i class="fa-solid fa-globe"></i>  Demo </a>
                  </div>
                </div>
              </div>
            </div>
               <!-- Column 02 -->
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
              <div class="card hoverEffect2" style="width: 18rem; height: 450px;">
                <img src="/images/img1.jpg" class="card-img-top" alt="p01" style="height: 191px;">
                <div class="card-body">
                  <h5 class="card-title">DJ WebPage Music</h5>
                  <p class="card-text">The best Latin music mixed by DJ Chris, music available to list to and download.</p>
                  <div class="d-flex justify-content-center">
                  <a href="https://github.com/rlopezlara/DJCriss" target="_blank" class="OpenBtn"><span class="btn-content"> Watch it on GitHub </span><i class="fa-solid fa-arrow-right"></i></button></a>
                  </div>
                  <div class="d-flex mt-3 justify-content-center">
                  <a href="https://rlopezlara.github.io/DJCriss/" target="_blank" class="OpenBtn"><span class="btn-content"><i class="fa-solid fa-globe"></i>  Demo </a>
                  </div>
                </div>
              </div>
            </div>  
               <!-- Column 03 -->
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
                <div class="card hoverEffect2" style="width: 18rem; height: 450px;">
                <img src="/images/img4.jpg" class="card-img-top" alt="p01" style="height: 191px;">
                <div class="card-body">
                  <h5 class="card-title">CSS Final Project</h5>
                  <p class="card-text">Using advanced CSS code, developed a Chilean red wine brand webpage.</p>
                  <div class="d-flex justify-content-center">
                  <a href="https://github.com/rlopezlara/CSS_Final_Proyect_Your_Favorite_Product" target="_blank" class="OpenBtn"><span class="btn-content"> Watch it on GitHub </span><i class="fa-solid fa-arrow-right"></i></button></a>
                  </div>
                  <div class="d-flex mt-3 justify-content-center">
                  <a href="https://rlopezlara.github.io/CSS_Final_Proyect_Your_Favorite_Product/" target="_blank" class="OpenBtn"><span class="btn-content"><i class="fa-solid fa-globe"></i>  Demo </a>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
      </section>
      {{!-- Second Rows of projects --}}
      <section class="projectsContent">
          <div class="container py-5 ">              
            <div class="row mt-4 g-4 justify-content-center align-items-center">
                <!-- Column 01 -->
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">   
               <div class="card hoverEffect2" style="width: 18rem; height: 450px;">
                <img src="/images/img2.jpg" class="card-img-top" alt="p01" style="height: 191px;">
                <div class="card-body">
                  <h5 class="card-title">Pandas Library</h5>
                  <p class="card-text">Data analyst using the Pandas library, in Python Language using Jupyter Notebook .</p>
                  <div class="d-flex justify-content-center">
                  <a href="https://github.com/rlopezlara/Python_Analysis_in_Pandas/tree/main" target="_blank" class="OpenBtn"><span class="btn-content"> Watch it on GitHub </span><i class="fa-solid fa-arrow-right"></i></button></a>
                  </div>
                </div>
              </div>
            </div>
               <!-- Column 02 -->
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
              <div class="card hoverEffect2" style="width: 18rem; height: 450px;">
                <img src="/images/img9.jpg" class="card-img-top" alt="p01" style="height: 191px;">
                <div class="card-body">
                  <h5 class="card-title">JavaFX Project</h5>
                  <p class="card-text">Using Scene Builder, Multi-threading, SceneBuilder, Event Handling and Regex.</p>
                  <div class="d-flex justify-content-center">
                  <a href="https://github.com/rlopezlara/Java_AssignmentThree" target="_blank" class="OpenBtn"><span class="btn-content"> Watch it on GitHub </span><i class="fa-solid fa-arrow-right"></i></button></a>
                  </div>
                   
                </div>
              </div>
            </div>  
               <!-- Column 03 -->
            <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">   
               <div class="card hoverEffect2" style="width: 18rem; height: 450px;">
                <img src="/images/p02.jpg" class="card-img-top" alt="p01" style="height: 191px;">
                <div class="card-body">
                  <h5 class="card-title">Guessing Game in C#</h5>
                  <p class="card-text">Complete six animals’ words challenge without providing more than 3 letters wrong on each word.</p>
                  <div class="d-flex justify-content-center">
                  <a href="https://github.com/rlopezlara/FINAL-PROJECT-GAME" target="_blank" class="OpenBtn"><span class="btn-content"> Watch it on GitHub </span><i class="fa-solid fa-arrow-right"></i></button></a>
                  </div>
                </div>
              </div>
            </div>
            </div>
        </div>
        </div> 
      </section>