<div
  id="carouselExampleAutoplaying"
  class="carousel slide m-5"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="extraImages/isladepascua.jpg"
        class="d-block w-100"
        alt="Isla de Pascua"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/germancastle.jpg"
        class="d-block w-100"
        alt="German Castle"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/desiertoflorido.jpg"
        class="d-block w-100"
        alt="Desierto Florido"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/machupichu.jpg"
        class="d-block w-100"
        alt="Machupichu"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/Torres.jpg"
        class="d-block w-100"
        alt="Torres del paine"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/roma.jpg"
        class="d-block w-100"
        alt="Coliseo Romano"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/IslaMujeres.jpg"
        class="d-block w-100"
        alt="Isla Mujeres"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/niagaraFall.jpg"
        class="d-block w-100"
        alt="niagara Fall"
      />
    </div>
    <div class="carousel-item">
      <img
        src="extraImages/ChichenItza.jpg"
        class="d-block w-100"
        alt="ChichenItza"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev align-self-center"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next align-self-center"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>