/* body style */
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* map limit height */
#map {
  height: 300px !important;
}
 
body nav{
  background-color: #689E8A;
  color: white;
  padding: 10px;
}
/* footer styling */
footer {
  background-color:#689E8A;
  color: white;
  padding: 10px;
  text-align: center;
}
/* carousel styling */
.carousel-item img {
  width: 80%;         
  height: 500px;       
  object-fit: cover;   
}
.title{
  font-size: 3rem;
  font-weight: bold;
  color: #689E8A; 
 text-shadow: black 2px 2px 2px;

}
/* card styling */
.card{
  box-shadow: gray 2px 2px 2px;
}
 
/* Login section styling */
.Login {
  background-image: url("/extraImages/logo2.jpg");
  background-position: center;
  background-size: cover;
  padding: 10%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.loginForm {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.loginForm:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  transition: all linear 0.3s;
}

 

form .form-group {
  margin-bottom: 15px;
}

.form-label {
  font-weight: 600;
}

input.form-control {
  height: 40px;
  font-size: 1rem;
}

button, a {
  height: 45px;
  font-size: 1.2rem;
}

button {
  margin-bottom: 10px;
}

.mt-2 {
  margin-top: 10px;
}
 
hr {
  border-color: #ddd;
  margin: 20px 0;
}

/* Register section styling */
.Register {
  background-image: url("/extraImages/italy.jpg"); /* Change this to your desired image */
  background-position: center;
  background-size: cover;
  padding: 10%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.registerForm {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.registerForm:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  transition: all linear 0.3s;
}

 
input.form-control {
  height: 40px;
  font-size: 1rem;
}
  
 /* Add form section */
.add-record {
  background-image: url("/extraImages/Greeceimg.jpg"); /* Use your background image */
  background-position: center;
  background-size: cover;
  padding: 10%;
  min-height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Form container styling */
.form-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

/* Form fieldset styling */
.form-group {
  margin-bottom: 20px;
}

label {
  color: white;
  font-size: 1.1em;
}

input[type="text"], input[type="date"], input[type="number"], textarea, input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

 
textarea {
  resize: vertical;
}
  
 
.add-record .form-container {
  max-width: 600px;
  width: 100%;
}

/* Edit record */
.edit-record {
  background-image: url("/extraImages/Rusia.jpg"); /* Use your background image */
  background-position: center;
  background-size: cover;
  padding: 10%;
  min-height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
 
 
.edit-record .form-container {
  max-width: 600px;
  width: 100%;
}